SUPABASE_URL=
SUPABASE_KEY=
INTERNAL_TOKEN=
APIFY_TOKEN=
DEFAULT_CLIENT_ID=

# SP-API Credentials
SP_API_CLIENT_ID=
SP_API_CLIENT_SECRET=
SP_API_REFRESH_TOKEN=
SP_API_AWS_ACCESS_KEY=
SP_API_AWS_SECRET_KEY=

# External SADDL Database
SADDL_DATABASE_URL="postgresql://user:password@host:port/postgres"
